// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts {
	background: #FFFFFF;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1D1D1;
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.details {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

#post_content {
	background: #FFFFFF;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
	}
	p {
		color: #444444;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
	}
}


/* Add new Topic page */
#add_post,
#edit_post {
	background: #FFFFFF;
	padding: 2em 5%;
	border-radius: .5em;
	input[type="text"],
	textarea {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border-radius: .2em;
		border: 1px solid #D1D1D1;
		margin-bottom: 1em;
	}
	textarea {
		height: 150px;
	}
	input[type="submit"] {
		color: #FFFFFF;
		background: #397CAC;
		border: 1px solid #397CAC;
		padding: .3em 1em;
		border-radius: .2em;
		cursor: pointer;
		float: right;
	}
	input[type="file"] {
		display: block;
		margin: .3em 0 1em 0;
	}
}


















